html, body {
  background: whitesmoke;
  height: 100%;
  width: 100%;
  margin: 0;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}


/*@media screen and (max-width: 1024px) {
  body {
    background-color: lavender;
  }
}*/

h1, h4{
	text-align: center;
	color: whitesmoke;
  padding: 2rem;
}
h5 {
  margin: 20px;
}
p {
  text-align: center;
  margin-top: 20px;
}

.refs{
  color:black;
  text-decoration: none;
}
.refs:hover{
  color:rgb(170, 0, 0);
  text-decoration: underline;
}



.navbar{
	background:white;
  
}

.nav-link {
	display: inline-block;
	text-decoration: none;
	color: black;
	transition: 0.1ms;
  font-weight: 500;
}
.nav-link:hover{
	color: rgb(170,0,0);
	transition: 0.1ms;
}

@media (min-width: 1025px){
.nav-link {
	display: inline-block;
	text-decoration: none;
	color: black;
	transition: 0.3s;
  font-weight: 500;
}
.nav-link::after{
	content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: rgb(170, 0, 0);
  transition: 0.3s;
}
.nav-link:hover::after{
	width: 100%;
}
.nav-link:hover{
	color: rgb(170,0,0);
	transition: 0.3s;
}
}

.item {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.item3{
  color: rgb(100, 100, 100); 
}

footer{
	text-align: center;
	align-items: center;
  background: rgb(20, 20, 20);
  color: rgb(160,160,160);
  padding: 2.5rem 0 2.5rem;
  margin-top: auto;
}

.border1{
  border-top: 1px solid rgb(160,160,160);
}

.icon {
  color: rgb(160,160,160);
  transition: 0.1ms;
}
.icon:hover{
  color: rgb(160,160,160);
  transition: 0.1ms;
}

.social{
  transition: 0.3s;
 }
.social:hover{
  transition: 0.3s;
  color: white;
}

.bi{
  transition: 0.3s;
}

.bi-heart:hover{
  transition: 0.3s;
  color: red;
}
.bi-instagram:hover{
  transition: 0.3s;
  color: rgb(188, 42, 141);

}
.bi-twitter:hover{
  transition: 0.3s;
  color: rgb(29, 161, 242)
}
.bi-whatsapp:hover{
  transition: 0.3s;
  color: #25D366
}
.bi-messenger:hover{
  transition: 0.3s;
  color: #006AFF
}
.bi-github:hover {
  color: #6e5494
}
.bi-linkedin:hover{
  color: #2867B2;
}
.fas{
  transition: 0.3s;
}
.fa-globe:hover{
  transition: 0.3s;
  color: #986435;
}
.fa-bars{
  color: black;
  transition: 0.1ms;
}
.fa-bars:hover{
  color: black;
  transition: 0.1ms;
}
.fa-times{
  color: black;
  transition: 0.1ms;
}
.fa-times:hover{
  color: black;
  transition: 0.1ms;
}

@media screen and (max-width: 1024px) {
  .bi-heart {
    color: red;
  }
  .bi-instagram {
    color: rgb(188, 42, 141);
  }
  .bi-twitter {
    color: rgb(29, 161, 242);
  }
  .bi-whatsapp {
    color: #25D366
  }
  .bi-messenger {
    color: #006AFF
  }
  .bi-github {
    color: #6e5494
  }
  .bi-linkedin {
    color: #2867B2
  }
  .fa-globe{
    color:#986435;
  }
}


.gradient-text {
  /* Fallback: Set a background color. */
  background-color: rgb(121, 0, 0);
  text-transform: uppercase;
  
  /* Create the gradient. */
  background-image: linear-gradient(
        52deg,
        rgb(121, 0, 0) 16.666%, 
        #bb4221 16.666%, 
        #bb4221 33.333%, 
        #b8611e 33.333%, 
        #b8611e  50%, 
        #5f7517 50%, 
        #5f7517 66.666%, 
        #203c7a 66.666%, 
        #203c7a 83.333%, 
        #7a186d 83.333%);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  /*animation: rainbow-text-simple-animation-rev 0.75s ease forwards;*/

}

/*.gradient-text:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
/*@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}
/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
/*@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}*/

::-webkit-scrollbar{
    width: 10px;
    background-color: #000000;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000000;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(121, 0, 0); 
    background-image: rgb(121, 0, 0);
}

.responsive-map{
  overflow:hidden;
    padding: 25%;
    position:relative;
    margin: 1rem;
  
}
.responsive-map iframe{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
}

.responsive-frame{
    overflow:hidden;
    padding-bottom:100%;
    position:relative;
    height:0;
}
.responsive-frame iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    padding: 15px;
}

.page-section {
  margin: 2.5rem 0;
}

.page-section-2 {
  margin-top: 2.5rem;
  background: #a81400;
}

.page-section-3{
  margin: 2.5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom:.5rem;

}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}


.section-heading .section-heading-under {
  display: block;
  font-size: 1rem;
  text-transform: none;
  font-weight: 300;
  margin-top:.5rem;
}

.intro {
  position: relative;
}

.intro-text{
  background:#a81400;
  top: 0;
  right: 0;
  color: cornsilk;
}


@media (min-width: 992px) {
  .intro .intro-text {
    left: 600;
    width: 60%;
    margin-top: 2rem;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}


.img-hover-zoom--blur{
  width: 75%;
  overflow: hidden;
  float: left;

} 
/* Blur-zoom Container */
.img-hover-zoom--blur img {
  transition: transform 1s, filter 1s ease-in-out;
  filter: blur(1.5px);
  transform: scale(1.1);
  width: 100%;
}

/* The Transformation */
.img-hover-zoom--blur:hover img {
  filter: blur(0);
  transform: scale(1);
}

@media screen and (max-width: 1024px){
  .img-hover-zoom--blur{
    margin: 0 auto;
    width: 100%;
  }
  .img-hover-zoom--blur img {
    filter: blur(0);
    transform: scale(1);
  }
  
}

.img-hover-zoom--blur-2{
  width: 75%;
  overflow: hidden;
  float:right;
} 
/* Blur-zoom Container */
.img-hover-zoom--blur-2 img {
  transition: transform 1s, filter 1s ease-in-out;
  filter: blur(1.5px);
  transform: scale(1.1);
}

/* The Transformation */
.img-hover-zoom--blur-2:hover img {
  filter: blur(0);
  transform: scale(1);
}

@media screen and (max-width: 1024px){
  .img-hover-zoom--blur-2{
    margin: 0 auto;
    width: 100%;
  }
  .img-hover-zoom--blur-2 img {
    filter: blur(0);
    transform: scale(1);
  }
  
}

.intro-text-2{
  background:#a81400;
  top: 0;
  left: 0;
  color: cornsilk;
}


@media (min-width: 992px) {
  .intro .intro-text-2 {
    right: 600;
    width: 60%;
    margin-top: 2rem;
    position: absolute;
  }
  .intro .intro-text-2 .intro-button {
    width: 100%;
    right: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text-2 {
    width: 45%;
  }
}


.blk{
  color: black;
}
.cta {
  color: cornsilk;
}

.cta-inner {
  position: relative;
  padding: 2rem;

}

.social{
  transition: 0.3s;
 }
.social:hover{
  transition: 0.3s;
  color: white;
}


.image {
  display: block;
  width: 100%;
  height: auto;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.text {
  color: white;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.boton {
  background: white;
  color:black;
  border-radius: 0%;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-transform: uppercase;
  border-color: white;
}
.boton:hover{
  background: black;
  color: white;
  transition: 0.2s;
}

.boton2{
  background: rgb(170, 0, 0);
  border: none;
  color: white;
  padding: 0.5rem;
  border-radius: 20px;
}
.boton2:hover{
  background: rgb(121, 0, 0);
  color: white;
  transition: 0.3s;
}

.boton2 a{
  color: white;
  text-decoration: none;
}
.boton2 a:hover{
  color: white;
}

.register{
  background: white;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.contra{
  color: rgb(100, 100, 100); 
  margin-right: 1rem; 
  text-decoration: none;
  font-size: 14px;
}
.contra:hover{ 
  text-decoration: underline;
  color: rgb(100, 100, 100); 
}

.foot{
  margin-top: 1rem; 
  padding: 0.5rem; 
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 1024px){
  .register{
    width: 90%;
    height: 80%;
}
}

.foot2{
  color: rgb(100, 100, 100);  
  text-decoration: none;
  font-size: 14px;

}
.foot2:hover{
  color: rgb(100, 100, 100);  
  text-decoration: underline;
}
.bi-dot{
  color: rgb(100, 100, 100);
}
.foot3{
  display: inline; 
  color: rgb(100, 100, 100); 
  font-size: 14px;
}

.registro{
  color: black; 
  text-decoration: none;
}
.registro:hover{
  color: rgb(170, 0, 0); 
  text-decoration: underline;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.flex-container > div > div{
  flex: 33%;
}
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 50%;
  }
}

@media (max-width: 400px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}

.boton3 {
  background: rgb(170, 0, 0);
  color:white;
  border-radius: 0%;
  text-transform: uppercase;
  
}
.boton3:hover{
  background: rgb(121, 0, 0);
  transition: 0.2s;
}

.flex-container p:first-child{
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
}
.flex-container p:nth-child(2){
  font-size: 14px;
  margin-top: 0;
}